# package manager
pnpm-lock.yaml
pnpm-workspace.yaml

# prettier does not support mdx v3
# @see {@link https://github.com/prettier/prettier/issues/12209}
*.mdx

# content
/apps/*/content

# public assets
/apps/*/public

# e2e test snapshots
/apps/*/e2e/snapshots

# database migrations
/packages/database-client/db/migrations/
